.site-layout-background {
    background: #fff;
}


.top-navbar {
    background-color: black !important;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}